<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hwong.poc.containerization.backend.dao.mapper.PostgresMapper">
    <resultMap id="TestDatabaseObject" type="com.hwong.poc.containerization.backend.dao.vo.TestDatabaseObject">
        <id column="test_key" property="key" jdbcType="VARCHAR"/>
        <result column="test_value" property="value" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getTestDatabaseObjects" resultMap="TestDatabaseObject">
        SELECT test_key, test_value FROM test_table
    </select>
</mapper>